@charset "UTF-8";
/* tablet */
/* celular */
@media (min-width: 320px) and (max-width: 540px) {
  h1 {
    display: grid;
    color: beige;
    justify-content: center;
    font-size: 30px;
    font-family: "Koulen", cursive; }
  h2 {
    color: white;
    text-align: center;
    font-size: 25px; }
  a {
    color: white;
    text-decoration: none; }
  .destacadosDeLaSemana__titulo {
    display: grid;
    color: beige;
    justify-content: center;
    font-size: 30px;
    font-family: 'Koulen', cursive; }
  .texterea {
    width: 60vw;
    margin-left: 20%;
    margin-right: 20%; }
  .relleno {
    color: beige; } }

* {
  margin: 0px;
  padding: 0px; }

.body__FondoTotal {
  background-image: url(../recursos/metroflex.n.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: center; }

.body__FondoGradiente {
  background-image: linear-gradient(to top, #797576 #272525); }

header {
  display: flex;
  justify-content: space-between;
  background-color: #0190f9;
  height: 100px; }
  header a:hover {
    text-decoration: underline; }
  header__logo {
    width: 12vw;
    border-radius: 30px;
    display: flex; }

.link-nav {
  color: black; }

a:visited {
  color: yellow; }

.bg-blue {
  background-color: #0190f9; }

.main__titulo {
  display: grid;
  font-family: "Koulen", cursive;
  color: bisque; }

h1 {
  display: grid;
  color: beige;
  justify-content: center;
  font-size: 5rem;
  font-style: italic; }

h2 {
  display: grid;
  color: beige;
  justify-content: center;
  font-size: 4rem;
  font-style: italic; }

h3 {
  display: grid;
  color: white;
  justify-content: center;
  font-size: 3rem; }

li {
  margin-right: 10px;
  margin-left: 10px; }

h2 {
  color: white;
  font-size: 3rem;
  font-family: calibri;
  text-align: center; }

a {
  color: black;
  text-decoration: none; }

.nosotros__titulo {
  color: beige;
  text-align: center;
  font-size: 5rem;
  font-style: italic; }

.nosotros__tamaño {
  color: white;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center; }

p {
  color: white;
  font-size: 16px; }

button {
  background-color: aquamarine;
  color: blueviolet;
  border-radius: 5px;
  padding: 5px;
  font-size: large; }

.boton {
  color: white;
  background-image: linear-gradient(to top, #07073f, #0a0a7a);
  transform: scale(1.3);
  margin: 30px; }

.destacadosDeLaSemana__titulo {
  display: grid;
  color: beige;
  justify-content: center;
  font-size: 5rem;
  font-style: italic; }

.productos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: center; }
  .productos__titulo {
    color: beige;
    text-align: center;
    font-size: 5rem;
    font-style: italic; }
  .productos__proteinas {
    margin-top: 80px; }
  .productos__quemadores {
    margin-top: 80px; }
  .productos__bcaa {
    margin-top: 80px; }
  .productos__shakers {
    margin-top: 80px; }
  .productos__creatina {
    margin-top: 80px; }

.combos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .combos__titulo {
    color: beige;
    text-align: center;
    font-size: 5rem;
    font-style: italic; }

.nuestrosAtletas {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: auto; }
  .nuestrosAtletas__titulo {
    color: beige;
    text-align: center;
    font-size: 5rem;
    font-style: italic; }
  .nuestrosAtletas__pro {
    background-color: #0190f9;
    padding: 40px;
    margin-top: 15px;
    margin-right: 40rem;
    margin-left: 40rem;
    border: 2px solid black; }

.formulario {
  display: grid;
  justify-content: center; }

.card__conteiner {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 20px; }
  .card__conteiner :hover {
    transform: scale(1.01); }

footer {
  display: flex;
  flex-wrap: wrap; }

.footer {
  display: grid;
  grid-template-areas: "contactanos horarios seguinos";
  grid-template-columns: 15fr 15fr 15fr;
  grid-template-rows: 40px; }
  .footer__imagen {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 30px; }

.grid__conteiner {
  display: grid;
  grid-template-columns: 2fr 11fr 2fr;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%; }

.grid__item {
  text-align: center; }

/* tablet */
/* celular */
@media (min-width: 320px) and (max-width: 540px) {
  h1 {
    display: grid;
    color: beige;
    justify-content: center;
    font-size: 30px;
    font-family: "Koulen", cursive; }
  h2 {
    color: white;
    text-align: center;
    font-size: 25px; }
  .destacadosDeLaSemana__titulo {
    display: grid;
    color: beige;
    justify-content: center;
    font-size: 30px;
    font-family: 'Koulen', cursive; }
  .texterea {
    width: 60vw;
    margin-left: 20%;
    margin-right: 20%; }
  .relleno {
    color: beige; }
  .footer {
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
    grid-template-columns: 3fr;
    grid-template-areas: "contactanos  horarios  seguinos"; } }
