*{
    margin: 0px;
    padding: 0px;
}


.bodyFondoTotal {
    background-image: url(../recursos/brandon-hendrickson-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(1,144,249,255);
    height: 100px;
}

.header__logo {
    width: 12vw;
    border-radius: 30px;
    display: flex;
}

.header__titulo {
    display: flex;
    color: black;
    font-size: 100px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}
.header__navegacion {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    padding: 35px 0;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    display: flex;
    color: beige;
    text-align: center ;
    font-size: 70px;
    font-style: italic;
    text-decoration: underline;
}

h2 {
    color: white;
    text-align: center;
    font-size: 45px;
}

h3 {
    color: white;
}


li {
    margin-right: 10px;
    margin-left: 10px;
}



.nosotros__tamaño {
    color: white;
    font-size: 16px;
    text-align: center;

}

p {
    color: white;
    font-size: 16px;
}

button {
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

.boton {
    background-image: linear-gradient(to top, rgb(7, 7, 63), rgb(10, 10, 122));
    transform: scale(1.2);
}
    



.destacadosDeLaSemana {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.destacadosDeLaSemana__titulo {
    display: flex;
    flex-wrap: wrap;
    color: beige;
   text-align: center;
    font-size: 50px;
    font-style: italic;
    text-decoration: underline;
}

.destacadosDeLaSemana__box {
    display: flex;
    background-color: rgba(1,144,249,255);
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    width: 100%;
    justify-content: center;

    
}

.destacadosDeLaSemana__contenido {
    background-color: rgba(1,144,249,255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
    border: 2px solid black;    
}

article, img, p, button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}

.productos__proteinas {
    margin-top: 80px;
}

.productos__quemadores {
    margin-top: 80px;
}

.productos__bcaa {
    margin-top: 80px;
}

.productos__shakers {
    margin-top: 80px;
}

.productos__creatina {
    margin-top: 80px;
}

.combos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.nuestrosAtletas__videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}

.nuestrosAtletas__pro {
    background-color: blueviolet;
    padding: 40px;
    margin-top: 15px;
    margin-right: 700px; 
    margin-left: 700px; 
    border: 2px solid black;
}

footer {
    display: flex;
    flex-wrap: wrap;
}




.footer__imagen {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}


.footer {
    display: grid;
    grid-template-areas: 
    "contactanos horarios seguinos";
    grid-template-columns:15fr 15fr 15fr;
    grid-template-rows: 40px;
}

.grid__conteiner {
    display: grid;
    grid-template-columns: 2fr 11fr 2fr ;
    margin-top: 10%;
    margin-left:15%;
    margin-right: 15%;
}

.grid__item {
    text-align: center;
}



/* tablet */
@media (min-width: 541px) and (max-width: 720px) {

}

    













/* celular */
@media (min-width: 320px) and (max-width: 540px) {







}







