
/* tablet */
@media (min-width: 541px) and (max-width: 720px) {

}

    













/* celular */
@media (min-width: 320px) and (max-width: 540px) {
    h1 {
        display: grid;
        color: $color-titulo;
        justify-content: center;
        font-size: 30px;
        font-family: $font-principal;  
    }

    h2 {
        color: white;
        text-align: center;
        font-size: 25px;
    }

    @mixin letrasBotones($color, $subrayado) {
        color: $color;
        text-decoration: $subrayado;
    }
    
    a {
        @include letrasBotones(white,none )
    }

    .destacadosDeLaSemana__titulo {
        display: grid;
        color: beige;
        justify-content: center;
        font-size: 30px;
        font-family: 'Koulen', cursive;
    }

    .texterea {
        width: 60vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .relleno {
        color: $color-titulo;
    }
 
   


}
