@import 'variables';
@import 'sasscript';
@import 'header';
@import 'footer';
@import 'mediaqueries';

*{
    margin: 0px;
    padding: 0px;
}

.body {
    &__FondoTotal {
        background-image: url(../recursos/metroflex.n.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
    }
    &__FondoGradiente {
        background-image: linear-gradient(to top, rgb(121, 117, 118)
        rgb(39, 37, 37));   
    }
}


header {
    display: flex;
    justify-content: space-between;
    background-color: $color-principal;
    height: 100px;
    a:hover {
        text-decoration: underline;
    }
    &__logo {
        width: 12vw;
        border-radius: 30px;
        display: flex;
    }
}

.link-nav {
    color: black;
}

a:visited {
    color: yellow;
}

.bg-blue {
    background-color: $color-principal;
}

.main__titulo {
    display: grid;
    font-family: $font-principal;
    color: bisque
}

h1 {
    display: grid;
    color: $color-titulo;
    justify-content: center;
    font-size: 5rem;
    font-style: italic;    
}

h2 {
    display: grid;
    color:$color-titulo;
    justify-content: center;
    font-size: 4rem; 
    font-style: italic;
}

h3 {
    display: grid;
    color: white;
    justify-content: center;
    font-size: 3rem;
}

li {
    margin-right: 10px;
    margin-left: 10px;
}

@mixin letrasSubtitulos ($color , $size , $fuente, $alineacion){
    color: $color;
    font-size: $size;
    font-family: $fuente;
    text-align: $alineacion;
}

h2 {
    @include letrasSubtitulos(white, 3rem, calibri, center )
}

@mixin letrasBotones($color, $subrayado) {
    color: $color;
    text-decoration: $subrayado;
}

a {
    @include letrasBotones(black,none )
}
.nosotros {
    &__titulo {
        color: $color-titulo;
        text-align: center;
        font-size: 5rem;
        font-style: italic;
    }
    &__tamaño {
    color: white;
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;   
    }
}
p {
    color: white;
    font-size: 16px;
}

button {
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}

.boton {
    color: white;
    background-image: linear-gradient(to top, rgb(7, 7, 63), rgb(10, 10, 122));
    transform: scale(1.3);
    margin: 30px;
}

.destacadosDeLaSemana__titulo {
    display: grid;
    color: $color-titulo;
   justify-content: center;
    font-size: 5rem;
    font-style: italic;    
}

.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
    &__titulo {
        color: $color-titulo;
        text-align: center;
        font-size: 5rem;
        font-style: italic;
    }
    &__proteinas {
        margin-top: 80px;
    }
    &__quemadores {
        margin-top: 80px;
    }
    &__bcaa {
        margin-top: 80px;
    }
    &__shakers {
        margin-top: 80px;
    }
    &__creatina {
        margin-top: 80px;
    }
}

.combos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__titulo {
        color: $color-titulo;
        text-align: center;
        font-size: 5rem;
        font-style: italic;
    }
    
}

.nuestrosAtletas {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    &__titulo {
        color: $color-titulo;
        text-align: center;
        font-size: 5rem;
        font-style: italic;
    }
    &__pro {
        background-color: $color-principal;
        padding: 40px;
        margin-top: 15px;
        margin-right: 40rem; 
        margin-left: 40rem; 
        border: 2px solid black;
    }   
}

.formulario {
    display: grid ;
    justify-content: center;
} 


.card__conteiner {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 20px;
    :hover {
        transform: scale(1.01);
     }   
}

footer {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: grid;
    grid-template-areas: 
    "contactanos horarios seguinos";
    grid-template-columns:15fr 15fr 15fr;
    grid-template-rows: 40px;
    &__imagen {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }
}

.grid__conteiner {
    display: grid;
    grid-template-columns: 2fr 11fr 2fr ;
    margin-top: 10%;
    margin-left:15%;
    margin-right: 15%;
}

.grid__item {
    text-align: center;
}


.pie-de-pagina {
    width: 100%;
    background-color: black;
}

.pie-de-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .box figure {

}

.pie-de-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-de-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;

}

.pie-de-pagina .grupo-1 img {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    
}

.footer__imagen{
display: flex;
flex-direction: column;
width: 40px;
height: 40px;
border-radius: 30px;
}

/* tablet */
@media (min-width: 541px) and (max-width: 720px) {

}

    













/* celular */
@media (min-width: 320px) and (max-width: 540px) {
    h1 {
        display: grid;
        color: $color-titulo;
        justify-content: center;
        font-size: 30px;
        font-family: $font-principal;   
    }

    h2 {
        color: white;
        text-align: center;
        font-size: 25px;
    }

    .destacadosDeLaSemana__titulo {
        display: grid;
        color: beige;
        justify-content: center;
        font-size: 30px;
        font-family: 'Koulen', cursive;
    }

    .texterea {
        width: 60vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .relleno {
        color: $color-titulo;
    }
    
    .footer {
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
    grid-template-columns: 3fr;
    grid-template-areas: 
    "contactanos 
    horarios 
    seguinos";
    
    }
    }
